<div id="results">
	<h3>Player 1:&nbsp;<%= game.players.first.initials %><br />
	Player 2:&nbsp;<%= game.players.last.initials %></h3>
	<h3>Winner was <%= winner %></h3>
	<h3><%= winner %> won in <%= game.duration %> seconds!</h3>
</div>
